body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #1e90ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
 
}

button:hover {
  background-color: #187bcd;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
